.idea
logs
*.iml
.project
.classpath
.settings
*/target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*/*.iws
*/build
.DS_Store
*/logs
*.log
src/main/webapp/WEB-INF/classes
src/main/webapp/META-INF/
*/src/main/webapp/WEB-INF/decorators/jsdep.inc
*/src/main/webapp/WEB-INF/decorators/jsdep_debug.inc
*/src/main/webapp/WEB-INF/decorators/revision.properties
target
*.myeclipse*
*.mymetadata*
*META-INF*
